[Unit]
Description = JDownloader Headless
After = local-fs.target network.target remote-fs.target
Wants = local-fs.target network.target remote-fs.target

[Service]
Type = simple
ExecStart = /usr/bin/java -Djava.awt.headless=true -jar /home/jdownloader/jd/JDownloader.jar
PIDFile = /home/jdownloader/jd/JDownloader.pid
TimeoutSec = 15
Restart = no
User = jdownloader

[Install]
WantedBy = multi-user.target